<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">


<dom-module id="remote-header">
  <template>

	<!-- Styles MUST be inside template -->
	<style>

		:host {
			display: block;
			position: relative;
			overflow: hidden;
		}


		app-toolbar {
			background-color: var(--bg-color-abs);
			color: #fff;
		}


		.elapsed {
			position:relative;
			text-align: center;
			color: var(--font-color-timer);
			vertical-align:middle;
			
		}



		.elapsed_time, .elapsed_bg{
			background: linear-gradient(top, var(--color-normal-stop-1), var(--color-normal-stop-2) no-repeat;    
			position: absolute;    
			border-top: thin solid var(--color-actions);
			height:var(--margin-timer);
			width:100%;
			left:0;
		}

		.elapsed_bg{
			background-image: none;
			background-color: white;
		}

		.elapsed_time.alert{
			background: linear-gradient(top, var(--color-alert-stop-1), var(--color-alert-stop-2) no-repeat;
		}
		.elapsed_time.advanced{
			background: linear-gradient(top, var(--color-advanced-stop-1), var(--color-advanced-stop-2) no-repeat;
		}

		.timeEllapesd{
			font-weight: 400;
			font-size: var(--font-size-timer);
			color:var(--font-color-timer);
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;    
			text-align: center;
		}

		.totalTime{
			font-weight: 400;
			font-size: var(--font-size-slide-number);
			color:var(--font-color-mute);
			
		}

		.elapsed .mute {
			color: var(--font-color-mute);
		}

		.actions_times{
			position: absolute;
			background-color:var(--bg-color-abs);
			top:0;
			right:var(--abs-height);
			height:var(--abs-height);
			width:var(--abs-height);
		}

		#action_time_play, #action_time_pause{
			position:absolute;
			border-left : thin solid var(--color-actions);
			border-right : thin solid var(--color-actions);
			top: 0;
			width:var(--abs-height);
			height:var(--abs-height);    
			text-align:center;
			color:var(--color-actions);
			
		}


	</style>

	<app-toolbar>
		<paper-icon-button icon="menu" on-tap="_drawerLeft"></paper-icon-button>
		<div main-title id="ellapsedTime">
			<div class="elapsed" ng-show="showTime">
				<div class="timeEllapesd">
					<span id="hours" ng-class="classHours" ng-show="showHours">[[hours]] : </span><span id="minutes" ng-class="classMinutes">[[minutes]]</span><span
						id="seconds"> : [[seconds]]</span><span class="totalTime">&nbsp;/&nbsp;[[interval]]:00</span>
				</div>
			</div>
			<!--<div class="elapsed_bg">
			</div>
			<div id="progress_elapsed_time" class="elapsed_time">
			</div>-->
		</div>
		<paper-icon-button icon="extension" on-tap="_drawerRight"></paper-icon-button>
	</app-toolbar>
</template>

<script>

// Extend Polymer.Element base class
class RemoteHeader extends Polymer.Element {

	static get is() { return 'remote-header' }

	static get config() {
		// properties, observers meta data
		return {
			properties: {
				hours: Number,
				minutes: Number,
				seconds: Number,
				interval: Number,

			}

		};
	}

	connectedCallback() {
		super.connectedCallback();

		this.interval = 60;
		let now = moment();
		setInterval( _ => {
			let diff = moment().diff(now);
			//console.info(diff);
			//console.info(Math.floor(diff / 60), Math.floor(diff / 60 * 1000), Math.floor(diff % (60 * 1000) / 1000));
			this.hours = new Intl.NumberFormat('fr', {minimumIntegerDigits:2, useGrouping: false}).format(Math.floor(diff / (60 * 60 * 1000)));
			this.minutes = new Intl.NumberFormat('fr', {minimumIntegerDigits:2, useGrouping: false}).format(Math.floor(diff / (60 * 1000)));
			this.seconds= new Intl.NumberFormat('fr', {minimumIntegerDigits:2, useGrouping: false}).format(Math.floor(diff % (60 * 1000) / 1000));
		}, 500);

		/*this.querySelector('paper-icon-button').addEventListener('tap', function() {
			this.dispatchEvent(new CustomEvent('menu-open'), {bubbles: true});
		});*/
	}

	_drawerLeft(){
		this.dispatchEvent(new CustomEvent('toogle-drawer', {detail: {direction:'left'}}));
	}

	_drawerRight(){
		this.dispatchEvent(new CustomEvent('toogle-drawer', {detail: {direction:'right'}}));
	}

}

// Register custom element definition using standard platform API
customElements.define(RemoteHeader.is, RemoteHeader);

</script>
</dom-module>