<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">


<dom-module id="remote-header">
  <template>

	<!-- Styles MUST be inside template -->
	<style>

		:host {
			display: block;
			position: relative;
			overflow: hidden;

			--bg-color-abs : #575757;
		}


		app-toolbar {
			background-color: var(--bg-color-abs);
			color: #fff;
		}


	</style>

	<app-toolbar>
		<paper-icon-button icon="menu" on-tap="_drawerLeft"></paper-icon-button>
		<div main-title>AppName</div>
		<paper-icon-button icon="extension" on-tap="_drawerRight"></paper-icon-button>
	</app-toolbar>

</template>

<script>

// Extend Polymer.Element base class
class RemoteHeader extends Polymer.Element {

	static get is() { return 'remote-header' }

	static get config() {
		// properties, observers meta data
		return {
			properties: {
			
			}

		};
	}

	connectedCallback() {
		super.connectedCallback();

		/*this.querySelector('paper-icon-button').addEventListener('tap', function() {
			this.dispatchEvent(new CustomEvent('menu-open'), {bubbles: true});
		});*/
	}

	_drawerLeft(){
		this.dispatchEvent(new CustomEvent('toogle-drawer', {detail: {direction:'left'}}));
	}

	_drawerRight(){
		this.dispatchEvent(new CustomEvent('toogle-drawer', {detail: {direction:'right'}}));
	}

}

// Register custom element definition using standard platform API
customElements.define(RemoteHeader.is, RemoteHeader);

</script>
</dom-module>