<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/font-roboto/roboto.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../mixins/model-mixin.html">
<link rel="import" href="../mixins/socket-mixin.html">
<link rel="import" href="remote-header.html">
<link rel="import" href="speaker-notes.html">
<link rel="import" href="screen-preview.html">
<link rel="import" href="drawer-left.html">
<link rel="import" href="drawer-right.html">

<dom-module id="remote-app">
	<template>

		<!-- Styles MUST be inside template -->
		<style >

		:host {			
			display: block;
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 100%;
		}

		.content{
			display: flex;
			flex-direction: column;
			align-items: stretch;
			align-content: stretch;
			width: 100%;
			height: 100%;
		}

		speaker-notes, screen-preview{
			flex-grow:1;
			margin-top:10px;
			margin-bottom: 10px;
		}

	
		.content.expand screen-preview{
			display: none;
		}


	</style>



<div class="content" id="contentRemote">
	<remote-header id="header"
			on-dispatch-action="_dispatchActionCallback"
			total-time="[[totalTime]]"></remote-header>
	<speaker-notes 
			on-dispatch-action="_dispatchActionCallback"
			current-slide-number="[[currentSlideNumber]]"
			nb-slides="[[nbSlides]]"></speaker-notes>
	<screen-preview
			next-slide-number="[[nextSlideNumber]]"
			nb-slides="[[nbSlides]]"
			local-url="[[localUrl]]"></screen-preview>
</div>

<drawer-left id="drawerLeft" 
	on-dispatch-action="_dispatchActionCallback"></drawer-left>
<drawer-right id="drawerRight"></drawer-right>

</template>

<script>

	// Extend Polymer.Element base class
	class RemoteApp extends SocketMixin(Polymer.Element) {

		static get is() { return 'remote-app' }

		static get config() {
			// properties, observers meta data
			return {
				properties: {

				}
			};
		}


		connectedCallback() {
			super.connectedCallback();

		}

		_dispatchActionCallback(event){
			switch(event.detail.type){
				case 'toggle-drawer':
					this._toggleDrawer(event.detail.data);
				break;
				case 'update-time':
					this._updateTime(event.detail.data);
				break;
				case 'start-stop-timer':
					this.$.header.toggleTimer(event);
				break;
				case 'reset-timer':
					this.$.header.resetTimer();
				break;
				case 'expand-notes':
					this._expandNotes(event.detail.data);
				break;
			}
		}

		_expandNotes(eventData){
			if (eventData.expand){
				this.$.contentRemote.classList.add('expand');
			}else {
				this.$.contentRemote.classList.remove('expand');
			}
		}

		_toggleDrawer(eventData) {
			switch (eventData.direction) {
				case 'left':
					this.$.drawerLeft.toggleDrawer();
					break;
				case 'right':
					this.$.drawerRight.toggleDrawer();
					this._toggleRightDrawer();
					break;
			}
		}

		_updateTime(eventData){
			if (eventData.totalTime){
				this.totalTime = eventData.totalTime;
			}else{
				this.totalTime = 0;
			}
		}

		/**
		 * Socket Method Overides 
		 */
		_presentationMessage(json){
			// Broadcoast message
			super._presentationMessage(json);
		}

		
	}

	// Register custom element definition using standard platform API
	customElements.define(RemoteApp.is, RemoteApp);

</script>
</dom-module>