<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/font-roboto/roboto.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../mixins/model-mixin.html">
<link rel="import" href="../mixins/socket-mixin.html">
<link rel="import" href="remote-header.html">
<link rel="import" href="speaker-notes.html">
<link rel="import" href="screen-preview.html">
<link rel="import" href="drawer-left.html">
<link rel="import" href="drawer-right.html">

<dom-module id="remote-app">
	<template>

		<!-- Styles MUST be inside template -->
		<style >

		:host {			
			display: block;
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 100%;
		}

		.content{
			display: flex;
			flex-direction: column;
			align-items: stretch;
			align-content: stretch;
			width: 100%;
			height: 100%;
		}

		speaker-notes, screen-preview{
			flex-grow:1;
			margin-top:10px;
			margin-bottom: 10px;
		}

	
		.content.expand screen-preview{
			display: none;
		}


	</style>



<div class="content" id="contentRemote">
	<remote-header id="header"
				on-toogle-drawer="_toggleDrawer"
				on-update-time="_updateTime"
				total-time="[[totalTime]]"></remote-header>
	<speaker-notes on-expand-notes="_expandNotes"></speaker-notes>
	<screen-preview></screen-preview>
</div>

<drawer-left id="drawerLeft" 
	on-start-stop-timer="_toggleTimer"
	on-reset-timer="_resetTimer"
	on-toogle-drawer="_toggleDrawer"></drawer-left>
<drawer-right id="drawerRight"></drawer-right>

</template>

<script>

	// Extend Polymer.Element base class
	class RemoteApp extends SocketMixin(Polymer.Element) {

		static get is() { return 'remote-app' }

		static get config() {
			// properties, observers meta data
			return {
				properties: {

				}
			};
		}


		connectedCallback() {
			super.connectedCallback();

		}

		_expandNotes(event){
			if (event.detail.expand){
				this.$.contentRemote.classList.add('expand');
			}else {
				this.$.contentRemote.classList.remove('expand');
			}
		}

		_toggleDrawer(event) {
			switch (event.detail.direction) {
				case 'left':
					this._toggleLeftDrawer();
					break;
				case 'right':
					this._toggleRightDrawer();
					break;
			}
		}

		_toggleTimer(event){
			this.$.header.toggleTimer(event);
		}

		_toggleLeftDrawer() {
			this.$.drawerLeft.toggleDrawer();
		}

		_toggleRightDrawer() {
			this.$.drawerRight.toggleDrawer();
		}

		_resetTimer(){
			this.$.header.resetTimer();
		}

		_updateTime(event){
			if (event.detail.totalTime){
				this.totalTime = event.detail.totalTime;
			}else{
				this.totalTime = 0;
			}
		}

		/**
		 * Socket Method Overides 
		 */
		_presentationMessage(json){
			// Broadcoast message
		}

		
	}

	// Register custom element definition using standard platform API
	customElements.define(RemoteApp.is, RemoteApp);

</script>
</dom-module>