<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/font-roboto/roboto.html">

<dom-module id="screen-preview">
	<template>

		<!-- Styles MUST be inside template -->
		<style>

		:host {
			display: block;
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 40%;
			background: #575757;
		}

		.index-slides{
			position: absolute;
			right:0;
			top:0;
			width: auto;
			text-align: right;
			color: #675C53;
			padding: 0 10px;
			height: 40px;
			font-size: 12pt;
			background:#e0dac7;
		}
		
		.index-slides .current-slide{
			font-size: 18pt;
		}

	</style>

	<div class="index-slides">	
		<span class="current-slide">[[index]]</span> / [[slides]]
	</div>


</template>

<script>

	// Extend Polymer.Element base class
	class ScreenPreview extends Polymer.Element {

		static get is() { return 'screen-preview' }

		static get config() {
			// properties, observers meta data
			return {
				properties: {
					index:{
						type: Object
					},
					slides:{
						type: Object
					}
				}
			};
		}


		connectedCallback() {
			super.connectedCallback();
			this.index = 0;
			this.slides = 24;
		}

	}

	// Register custom element definition using standard platform API
	customElements.define(ScreenPreview.is, ScreenPreview);

</script>
</dom-module>