@import "colors";
@import "vars";
@import "fonts";

/***
 *       _____ ____  __  __ __  __  ____  _   _        _____  _____   ____  _____  ______ _____ _______ _____ ______  _____
 *      / ____/ __ \|  \/  |  \/  |/ __ \| \ | |      |  __ \|  __ \ / __ \|  __ \|  ____|  __ \__   __|_   _|  ____|/ ____|
 *     | |   | |  | | \  / | \  / | |  | |  \| |      | |__) | |__) | |  | | |__) | |__  | |__) | | |    | | | |__  | (___
 *     | |   | |  | | |\/| | |\/| | |  | | . ` |      |  ___/|  _  /| |  | |  ___/|  __| |  _  /  | |    | | |  __|  \___ \
 *     | |___| |__| | |  | | |  | | |__| | |\  |      | |    | | \ \| |__| | |    | |____| | \ \  | |   _| |_| |____ ____) |
 *      \_____\____/|_|  |_|_|  |_|\____/|_| \_|      |_|    |_|  \_\\____/|_|    |______|_|  \_\ |_|  |_____|______|_____/
 *
 *
 */



body,
html {
	height: 100%;
	background-color: var(--bg-color);
	color: var(--font-color);
	margin: 0;
	font-family: 'Roboto', 'Noto', sans-serif;
}

@mixin fullScreenConf {
	background-color: var(--bg-color);
	height: 100%;
	width: 100%;
}




#main-content:-webkit-full-screen {
	@include fullScreenConf;
}



#main-content:fullscreen {
	@include fullScreenConf;
}



#main-content:-moz-full-screen {
	@include fullScreenConf;
}



remote-app {
	width: 100%;
	height: 100%;
}
