<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../mixins/helpers/dispatcher-mixin.html">
<link rel="import" href="js/vendor/qrscan.html">


<!--
	Code based on : https://github.com/code-kotis/barcode-scanner under MIT Licensed
-->

<dom-module id="qr-code-reader">
	<template>

		<!-- Styles MUST be inside template -->
		<style>

		:host {
			display: block;
			position: relative;
			overflow: hidden;
		}

		.content{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(0,0,0,0.7);
			display: flex;
			align-items: center;
			justify-content: center;
		}

		paper-button{
			position:absolute;
			bottom: 0;
			right: 0;
			color:white;

		}

	</style>

	<div class="content">
 		<video id="video" autoplay></video>
	</div>

	<paper-button on-tap="_requestScan">
		<iron-icon icon="image:camera-alt" item-icon></iron-icon>
	</paper-button>


</template>

<script>

	// Extend Polymer.Element base class
	class QrCodeReader extends DispatcherMixin(Polymer.Element) {

		static get is() { return 'qr-code-reader' }

		static get config() {
			// properties, observers meta data
			return {
				properties: {

				}
			};
		}

		constructor(){
			super();
			this.reader = new QRReader();
		}


		connectedCallback() {
			super.connectedCallback();
			this.reader.init(this.$.video);
		}

		activeQrScan(){
			this.reader.startCapture();
		}

		desactivQrScan(){
			this.reader.stopCapture();
		}

		_requestScan(){
			this.reader.scan(this._manageScanResult.bind(this));
		}

		_manageScanResult(message){
			if( message.charAt( 0 ) === '{' && message.charAt( message.length - 1 ) === '}' ) {
				message = JSON.parse( message );
				if (message.port){
					this.dispatchAction('update-model',{
							key: 'conf',
							value :  message
					});
				}
			}
			this.dispatchAction('scan-qr-code-finish',{});
		}



	}

	// Register custom element definition using standard platform API
	customElements.define(QrCodeReader.is, QrCodeReader);

</script>
</dom-module>