<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/font-roboto/roboto.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/device-icons.html">
<link rel="import" href="../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../mixins/app/app-aggregate-mixin.html">
<link rel="import" href="remote-header.html">
<link rel="import" href="speaker-notes.html">
<link rel="import" href="screen-preview.html">
<link rel="import" href="drawer-left.html">
<link rel="import" href="drawer-right.html">
<link rel="import" href="remote-styles.html">
<link rel="import" href="qr-code/qr-code-reader.html">
<link rel="import" href="../plugins/plugin-list.html">

<dom-module id="remote-app">
	<template>

		<!-- Styles MUST be inside template -->
		<style include="remote-styles">

		:host {
			display: block;
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 100%;
		}

		.content{
			display: flex;
			flex-direction: column;
			align-items: stretch;
			align-content: stretch;
			width: 100%;
			height: 100%;
		}

		speaker-notes, screen-preview{
			flex-grow:1;
			margin-top:10px;
			margin-bottom: 10px;
		}


		.content.expand screen-preview{
			display: none;
		}

		plugin-list{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		#mask{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.7);
			display: flex;
			justify-content: center;
			align-items: center;
		}

		paper-card{
			width: 75%;
			height: 300px;
		}

		qr-code-reader{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

	</style>



<div class="content" id="contentRemote">
	<remote-header id="header"
			on-dispatch-action="reduceAction"
			running-timer="[[runningTimer]]"
			total-time="[[totalTime]]"
			default-interval="[[defaultInterval]]"
			now="[[now]]"
			model-timer="[[modelTimer]]"></remote-header>
	<speaker-notes
			id="speakerNotes"
			on-dispatch-action="reduceAction"
			current-slide-number="[[currentSlideNumber]]"
			nb-slides="[[nbSlides]]"
			content-notes="[[contentNotes]]"></speaker-notes>
	<screen-preview
			id="screenPreview"
			on-dispatch-action="reduceAction"
			next-slide-number="[[nextSlideNumber]]"
			nb-slides="[[nbSlides]]"
			local-url="[[localUrl]]"
			engine="[[engine]]"></screen-preview>
</div>

<drawer-left id="drawerLeft"
	model-timer="[[modelTimer]]"
	on-dispatch-action="reduceAction"
	default-interval="[[defaultInterval]]"></drawer-left>
<drawer-right id="drawerRight"
	on-dispatch-action="reduceAction"
	plugin-list="[[pluginList]]"></drawer-right>

<plugin-list
		id="pluginListComponent"
		style="display:none"
		activ-plugin="[[activPlugin]]"
		desc-area="[[descPluginArea]]"
		interaction-area="[[interactionPluginArea]]"
		on-dispatch-action="reduceAction">
</plugin-list>

<div
	id="mask">
	 <paper-card heading="Waiting for configuration" >
		 <div class="card-content">
			 No configuration was detected to use the remote. Use one of the below method to configure the remote.
		 </div>
		<div class="card-actions">
			<paper-button>
				<iron-icon icon="device:bluetooth" item-icon></iron-icon>
				<span>Scan over bluetooth</span>
			</paper-button>
			<paper-button on-tap="_requestScanQrCode">
				<iron-icon icon="image:camera-alt" item-icon></iron-icon>
				<span>Scan QrCode</span>
			</paper-button>
		</div>
	</paper-card>
	<qr-code-reader
		style="display:none"
		id="qrReader"
		on-dispatch-action="reduceAction"
	></qr-code-reader>
</div>

</template>

	<script>
		// Extend Polymer.Element base class
		class RemoteApp extends AppAgregateMixin(Polymer.Element) {

			static get is() { return 'remote-app' }

			static get config() {
				// properties, observers meta data
				return {
					properties: {}
				};
			}

			constructor() {
				super();
				this.descPluginArea = null;
				this.interactionPluginArea = null;
			}

			connectedCallback() {
				super.connectedCallback();
				this._manageConfVisibility();
				this.descPluginArea = this.$.speakerNotes;
				this.interactionPluginArea = this.$.screenPreview;
			}

			_hidePlugin(activPlugin, pluginId) {
				return !activPlugin || activPlugin.id != name;
			}

			_dispatchUiAction(type, data) {
				switch (type) {
					case 'toggle-drawer':
						this._toggleDrawer(data);
						break;
					case 'expand-notes':
						this._expandNotes(data);
						break;
					case 'activ-plugin':
						if (data) {
							this.$.pluginListComponent.style.display = '';
							this.$.pluginListComponent.activatePlugin(data);
						}
						break;
					case 'desactiv-plugin':
						if (data) {
							this.$.pluginListComponent.style.display = 'none';
							this.$.pluginListComponent.desactivatePlugin(data);
						}
						break;
					case 'update-model':
						if (data.key === 'conf') {
							this._manageConfVisibility();
						}
						break;
					case 'scan-qr-code-finish':
						this.$.qrReader.desactivQrScan();
						this.$.qrReader.style.display = 'none';
						this._manageConfVisibility();
						break;
				}
			}

			_manageConfVisibility() {
				this.$.mask.style.display = this.isConfReady() ? 'none' : '';
			}

			_expandNotes(eventData) {
				if (eventData.expand) {
					this.$.contentRemote.classList.add('expand');
				} else {
					this.$.contentRemote.classList.remove('expand');
				}
			}

			_toggleDrawer(eventData) {
				switch (eventData.direction) {
					case 'left':
						this.$.drawerLeft.toggleDrawer();
						break;
					case 'right':
						this.$.drawerRight.toggleDrawer();
						break;
				}
			}

			_requestScanQrCode() {
				this.$.qrReader.style.display = '';
				this.$.qrReader.activeQrScan();
			}

			/**
			 * Socket Method Overides
			 */
			_presentationMessage(json) {
				// Broadcoast message
				super._presentationMessage(json);
				switch (json.type) {
					case 'plugin':
						this.$.pluginListComponent.pluginMessage(json);
						break;
				}
				console.log('presentationMessage', json);
			}

		}

		// Register custom element definition using standard platform API
		customElements.define(RemoteApp.is, RemoteApp);

	</script>
</dom-module>
