<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/font-roboto/roboto.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../mixins/app/app-aggregate-mixin.html">
<link rel="import" href="remote-header.html">
<link rel="import" href="speaker-notes.html">
<link rel="import" href="screen-preview.html">
<link rel="import" href="drawer-left.html">
<link rel="import" href="drawer-right.html">
<link rel="import" href="../plugins/remote-pointer-plugin.html">

<dom-module id="remote-app">
	<template>

		<!-- Styles MUST be inside template -->
		<style >

		:host {
			display: block;
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 100%;
		}

		.content{
			display: flex;
			flex-direction: column;
			align-items: stretch;
			align-content: stretch;
			width: 100%;
			height: 100%;
		}

		speaker-notes, screen-preview{
			flex-grow:1;
			margin-top:10px;
			margin-bottom: 10px;
		}


		.content.expand screen-preview{
			display: none;
		}

		.plugin{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}


	</style>



<div class="content" id="contentRemote">
	<remote-header id="header"
			on-dispatch-action="reduceAction"
			running-timer="[[runningTimer]]"
			total-time="[[totalTime]]"
			default-interval="[[defaultInterval]]"
			now="[[now]]"></remote-header>
	<speaker-notes
			id="speakerNotes"
			on-dispatch-action="reduceAction"
			current-slide-number="[[currentSlideNumber]]"
			nb-slides="[[nbSlides]]"
			content-notes="[[contentNotes]]"></speaker-notes>
	<screen-preview
			id="screenPreview"
			on-dispatch-action="reduceAction"
			next-slide-number="[[nextSlideNumber]]"
			nb-slides="[[nbSlides]]"
			local-url="[[localUrl]]"
			engine="[[engine]]"></screen-preview>
</div>

<drawer-left id="drawerLeft"
	on-dispatch-action="reduceAction"
	default-interval="[[defaultInterval]]"></drawer-left>
<drawer-right id="drawerRight"
	on-dispatch-action="reduceAction"
	plugin-list="[[pluginList]]"></drawer-right>

<div class="plugin-list">
	<remote-pointer-plugin class="plugin"
		style="display:none"
		id="rp"
		activ-plugin="[[activPlugin]]"
		desc-area="[[descPluginArea]]"
		interaction-area="[[interactionPluginArea]]"
		on-dispatch-action="reduceAction"></remote-pointer-plugin>
</div>

</template>

<script>

	// Extend Polymer.Element base class
	class RemoteApp extends AppAgregateMixin(Polymer.Element) {

		static get is() { return 'remote-app' }

		static get config() {
			// properties, observers meta data
			return {
				properties: {
				}
			};
		}

		constructor(){
			super();
			this.descPluginArea = null;
			this.interactionPluginArea = null;
		}


		connectedCallback() {
			super.connectedCallback();
			this.descPluginArea = this.$.speakerNotes;
			this.interactionPluginArea = this.$.screenPreview;
		}

		_hidePlugin(activPlugin, pluginId){
			return !activPlugin || activPlugin.id != name;
		}

		_dispatchUiAction(type,data){
			switch(type){
				case 'toggle-drawer':
					this._toggleDrawer(data);
				break;
				case 'expand-notes':
					this._expandNotes(data);
				break;
				case 'activ-plugin':
					if (data){
						this.$[data.id].style.display = '';
						console.log(this.$[data.id]);
					}
				break;
			}
		}

		_expandNotes(eventData){
			if (eventData.expand){
				this.$.contentRemote.classList.add('expand');
			}else {
				this.$.contentRemote.classList.remove('expand');
			}
		}

		_toggleDrawer(eventData) {
			switch (eventData.direction) {
				case 'left':
					this.$.drawerLeft.toggleDrawer();
					break;
				case 'right':
					this.$.drawerRight.toggleDrawer();
					break;
			}
		}

		/**
		 * Socket Method Overides
		 */
		_presentationMessage(json){
			// Broadcoast message
			super._presentationMessage(json);
		}


	}

	// Register custom element definition using standard platform API
	customElements.define(RemoteApp.is, RemoteApp);

</script>
</dom-module>