<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/font-roboto/roboto.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/device-icons.html">
<link rel="import" href="../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/granite-qrcode-scanner/granite-qrcode-scanner.html">
<link rel="import" href="../mixins/app/app-aggregate-mixin.html">
<link rel="import" href="remote-header.html">
<link rel="import" href="speaker-notes.html">
<link rel="import" href="screen-preview.html">
<link rel="import" href="drawer-left.html">
<link rel="import" href="drawer-right.html">
<link rel="import" href="remote-styles.html">
<link rel="import" href="../plugins/plugin-list.html">

<dom-module id="remote-app">
	<template>

		<!-- Styles MUST be inside template -->
		<style include="remote-styles">

		:host {
			display: block;
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 100%;
		}

		.content{
			display: flex;
			flex-direction: column;
			align-items: stretch;
			align-content: stretch;
			width: 100%;
			height: 100%;
		}

		speaker-notes, screen-preview{
			flex-grow:1;
			margin-top:10px;
			margin-bottom: 10px;
		}


		.content.expand screen-preview{
			display: none;
		}

		plugin-list{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		#mask, .qrcode-scanner-parent{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.7);
			display: flex;
			justify-content: center;
			align-items: center;
		}

		paper-card{
			width: 75%;
			height: 300px;
		}

		qr-code-reader{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

		}

		granite-qrcode-scanner{
			position: absolute;
			top: 50%;
			left: 50%;
			width: 300px;
			height: 300px;
			transform: translateX(-50%) translateY(-50%);
		}

	</style>



<div class="content" id="contentRemote">
	<remote-header id="header"
			on-dispatch-action="reduceAction"
			model-timer="[[modelTimer]]"></remote-header>
	<speaker-notes
			id="speakerNotes"
			on-dispatch-action="reduceAction"
			model-states="[[modelStates]]"
			content-notes="[[contentNotes]]"></speaker-notes>
	<screen-preview
			id="screenPreview"
			on-dispatch-action="reduceAction"
			model-states="[[modelStates]]"
			model-conf="[[modelConf]]"
			engine="[[engine]]"></screen-preview>
</div>

<drawer-left id="drawerLeft"
	model-timer="[[modelTimer]]"
	on-dispatch-action="reduceAction"></drawer-left>
<drawer-right id="drawerRight"
	on-dispatch-action="reduceAction"
	plugin-list="[[pluginList]]"></drawer-right>

<plugin-list
		id="pluginListComponent"
		hide$="[[hidePluginComponent]]"
		activ-plugin="[[activPlugin]]"
		desc-area="[[descPluginArea]]"
		interaction-area="[[interactionPluginArea]]"
		on-dispatch-action="reduceAction">
</plugin-list>

<div
	hide$="[[hideMask]]"
	id="mask">
	 <paper-card heading="Waiting for configuration" >
		 <div class="card-content">
			 No configuration was detected to use the remote. Use one of the below method to configure the remote.
		 </div>
		<div class="card-actions">
			<paper-button>
				<iron-icon icon="device:bluetooth" item-icon></iron-icon>
				<span>Scan over bluetooth</span>
			</paper-button>
			<paper-button on-tap="_requestScanQrCode">
				<iron-icon icon="image:camera-alt" item-icon></iron-icon>
				<span>Scan QrCode</span>
			</paper-button>
		</div>
	</paper-card>
	<div class="qrcode-scanner-parent"
		hide$="[[hideQrReader]]">
		<granite-qrcode-scanner
			data="{{qrCodeData}}"
			active="[[!hideQrReader]]"
			width="300"
			height="300"></granite-qrcode-scanner>
	</div>
</div>

</template>

	<script>
		// Extend Polymer.Element base class
		class RemoteApp extends AppAgregateMixin(Polymer.Element) {

			static get is() { return 'remote-app' }

			static get config() {
				// properties, observers meta data
				return {
					properties: {},
					observers: ['_updateQrCode(qrCodeData)']
				};
			}

			constructor() {
				super();
				this.descPluginArea = null;
				this.interactionPluginArea = null;
				this.hidePluginComponent = true;
				this.hideQrReader = true;
				this.hideMask = false;
				this.qrCodeData = null;
			}

			connectedCallback() {
				super.connectedCallback();
				this._manageConfVisibility();
				this.descPluginArea = this.$.speakerNotes;
				this.interactionPluginArea = this.$.screenPreview;
			}

			_hidePlugin(activPlugin, pluginId) {
				return !activPlugin || activPlugin.id != name;
			}

			_dispatchUiAction(type, data) {
				switch (type) {
					case 'toggle-drawer':
						this._toggleDrawer(data);
						break;
					case 'expand-notes':
						this._expandNotes(data);
						break;
					case 'activ-plugin':
						if (data) {
							this.hidePluginComponent = false;
							this.$.pluginListComponent.activatePlugin(data);
						}
						break;
					case 'desactiv-plugin':
						if (data) {
							this.hidePluginComponent = true;
							this.$.pluginListComponent.desactivatePlugin(data);
						}
						break;
					case 'update-model':
						if (data.key === 'modelConf.conf') {
							this._manageConfVisibility();
						}
						break;
					case 'scan-qr-code-finish':
						this.hideQrReader = true;
						this._manageConfVisibility();
						break;
				}
			}

			_updateQrCode(qrCodeData) {
				if (qrCodeData && qrCodeData.charAt(0) === '{' && qrCodeData.charAt(qrCodeData.length - 1) === '}') {
					let confData = JSON.parse(qrCodeData);
					if (confData.port) {
						this.dispatchAction('update-model', {
							key: 'modelConf.conf',
							value: confData
						});
					}
				}
				this._manageConfVisibility();
				console.debug('_updateQrCode', qrCodeData);
			}

			_manageConfVisibility() {
				this.hideMask = !!this.isConfReady();
			}

			_expandNotes(eventData) {
				if (eventData.expand) {
					this.$.contentRemote.classList.add('expand');
				} else {
					this.$.contentRemote.classList.remove('expand');
				}
			}

			_toggleDrawer(eventData) {
				switch (eventData.direction) {
					case 'left':
						this.$.drawerLeft.toggleDrawer();
						break;
					case 'right':
						this.$.drawerRight.toggleDrawer();
						break;
				}
			}

			_requestScanQrCode() {
				this.hideQrReader = false;
			}

			/**
			 * Socket Method Overides
			 */
			_presentationMessage(json) {
				// Broadcoast message
				super._presentationMessage(json);
				switch (json.type) {
					case 'plugin':
						this.$.pluginListComponent.pluginMessage(json);
						break;
				}
				console.log('presentationMessage', json);
			}

		}

		// Register custom element definition using standard platform API
		customElements.define(RemoteApp.is, RemoteApp);

	</script>
</dom-module>
