<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/font-roboto/roboto.html">
<link rel="import" href="../mixins/helpers/dispatcher-mixin.html">
<link rel="import" href="../js/engine/generic-engine.html">
<link rel="import" href="controls-buttons.html">
<link rel="import" href="remote-styles.html">

<dom-module id="screen-preview">
	<template>

		<!-- Styles MUST be inside template -->
		<style include="remote-styles">

		:host {
			display: block;
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 40%;
			background: var(--bg-color-abs);
		}

		.index-slides{
			position: absolute;
			right:0;
			top:0;
			width: auto;
			text-align: right;
			color: var(--font-color-notes);
			padding: 0 10px;
			height: 40px;
			font-size: 12pt;
			background:var(--bg-color);
		}

		.index-slides .current-slide{
			font-size: 18pt;
		}

		controls-buttons{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

	</style>

	<iframe id="iframePrez"
			hide$="[[!modelConf.localUrl]]"
			width="100%"
			height="100%"
			src$="[[modelConf.localUrl]]"
			on-load="_loadIFrame"></iframe>

	<div class="index-slides">
		<span class="current-slide">[[modelStates.nextSlideNumber]]</span> / [[modelStates.nbSlides]]
	</div>
	<controls-buttons
		on-dispatch-action="_dispatchAction"></controls-buttons>


</template>

	<script>
		// Extend Polymer.Element base class
		class ScreenPreview extends DispatcherMixin(Polymer.Element) {

			static get is() { return 'screen-preview' }

			static get config() {
				// properties, observers meta data
				return {
					properties: {
						modelStates: Object,
						modelConf: Object,
						engine: Object
					}
				};
			}

			constructor() {
				super();
				this.iFrameReady = false;
			}

			connectedCallback() {
				super.connectedCallback();
				if (this.iFrameReady && this.engine) {
					this.engine.initEngine(this.$.iframePrez, this.dispatchAction.bind(this));
				}
			}

			_loadIFrame() {
				if (this.engine) {
					this.engine.initEngine(this.$.iframePrez, this.dispatchAction.bind(this));
				} else {
					this.iFrameReady = true;
				}
			}

			_dispatchAction(event) {
				switch (event.detail.type) {
					case 'control-press':
						switch (event.detail.data.control) {
							case 'up':
								this.engine.up();
								break;
							case 'left':
								this.engine.left();
								break;
							case 'down':
								this.engine.down();
								break;
							case 'right':
								this.engine.right();
								break;
							case 'show':
								this.engine.next();
								this.dispatchAction(event.detail.type, event.detail.data);
								break;
						}
						break;
				}
			}

		}

		// Register custom element definition using standard platform API
		customElements.define(ScreenPreview.is, ScreenPreview);

	</script>
</dom-module>
