/***
 *       _____ ____  _      ____  _____   _____ 
 *      / ____/ __ \| |    / __ \|  __ \ / ____|
 *     | |   | |  | | |   | |  | | |__) | (___  
 *     | |   | |  | | |   | |  | |  _  / \___ \ 
 *     | |___| |__| | |___| |__| | | \ \ ____) |
 *      \_____\____/|______\____/|_|  \_\_____/ 
 *                                              
 *                                              
 */
/***
 *     __      __     _____   _____ 
 *     \ \    / /\   |  __ \ / ____|
 *      \ \  / /  \  | |__) | (___  
 *       \ \/ / /\ \ |  _  / \___ \ 
 *        \  / ____ \| | \ \ ____) |
 *         \/_/    \_\_|  \_\_____/ 
 *                                  
 *                                  
 */
/**-----------------
* Navigation buttons
**------------------
*/
/* line 14, ../sass/nav.scss */
#preview .button {
  background: none;
}

/* line 18, ../sass/nav.scss */
#controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 26, ../sass/nav.scss */
#up, #down, #show, #left, #right {
  color: white;
}

/* line 30, ../sass/nav.scss */
#next, #prev, #up, #down, #show, #left, #right, #reset, #back {
  position: absolute;
}

/* line 34, ../sass/nav.scss */
#left, #right {
  height: 50px;
  top: 50%;
  margin-top: -25px;
  line-height: 50px;
}

/* line 42, ../sass/nav.scss */
#up, #down {
  width: 50px;
  left: 50%;
  margin-left: -25px;
  text-align: center;
}

/* line 49, ../sass/nav.scss */
#next, #right {
  right: 10px;
}

/* line 52, ../sass/nav.scss */
#prev, #left, #reset {
  left: 10px;
}

/* line 56, ../sass/nav.scss */
#up, #next, #prev {
  top: 10px;
}

/* line 59, ../sass/nav.scss */
#down, #reset {
  bottom: 10px;
}

/* line 63, ../sass/nav.scss */
#reset, #show, #back {
  -moz-box-shadow: 1px 1px 5px 1px #3e3d40;
  -webkit-box-shadow: 1px 1px 5px 1px #3e3d40;
  -o-box-shadow: 1px 1px 5px 1px #3e3d40;
  box-shadow: 1px 1px 5px 1px #3e3d40;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#3e3d40, Direction=134, Strength=5);
}

/* line 71, ../sass/nav.scss */
#preview a[disabled] {
  opacity: 0.1;
}

/* line 75, ../sass/nav.scss */
#preview #reset {
  background-color: white;
  line-height: 30px;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

/* line 84, ../sass/nav.scss */
#preview #back {
  background-color: white;
  opacity: 0;
  padding-left: 5px;
  height: 30px;
  width: 70px;
  text-align: left;
  font-size: 15pt;
  line-height: 30px;
  top: 50%;
  left: 75%;
  margin-left: -100px;
  margin-top: -15px;
  color: black;
  transition: opacity 0.2s ease-in, left 0.2s ease-in;
}

/* line 101, ../sass/nav.scss */
#preview #back.visible {
  opacity: 0.7;
  left: 50%;
}

/* line 106, ../sass/nav.scss */
#preview #back:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: -15px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid white;
  top: 0;
}

/* line 118, ../sass/nav.scss */
#preview #show {
  background-color: white;
  opacity: 0.7;
  border-radius: 75px;
  height: 75px;
  line-height: 75px;
  width: 75px;
  text-align: center;
  font-size: 20pt;
  top: 50%;
  left: 50%;
  margin-left: -37.5px;
  margin-top: -37.5px;
  color: black;
}

/* line 134, ../sass/nav.scss */
#preview .slide-preview-number {
  background-color: #E0DAC7;
  position: absolute;
  width: auto;
  top: -1px;
  text-align: right;
  padding: 0 10px;
  right: -1px;
  height: 40px;
  font-size: 12pt;
  color: #675C53;
}
/* line 146, ../sass/nav.scss */
#preview .slide-preview-number .next-slide {
  font-size: 19.5pt;
}

@media screen and (orientation: landscape) {
  /* line 153, ../sass/nav.scss */
  #preview .slide-preview-number {
    top: initial;
    right: initial;
    left: -1px;
    bottom: -1px;
  }
}
/* line 162, ../sass/nav.scss */
#preview #show.hide, #preview #back.visible.hide {
  transition: opacity 6s ease-in;
  opacity: 0.2;
}
