/***
 *       _____ ____  _      ____  _____   _____ 
 *      / ____/ __ \| |    / __ \|  __ \ / ____|
 *     | |   | |  | | |   | |  | | |__) | (___  
 *     | |   | |  | | |   | |  | |  _  / \___ \ 
 *     | |___| |__| | |___| |__| | | \ \ ____) |
 *      \_____\____/|______\____/|_|  \_\_____/ 
 *                                              
 *                                              
 */
/***
 *     __      __     _____   _____ 
 *     \ \    / /\   |  __ \ / ____|
 *      \ \  / /  \  | |__) | (___  
 *       \ \/ / /\ \ |  _  / \___ \ 
 *        \  / ____ \| | \ \ ____) |
 *         \/_/    \_\_|  \_\_____/ 
 *                                  
 *                                  
 */
.sliding-menu, .plugin-menu {
  position: absolute;
  /*left: 0;*/
  top: calc(40px + 7px);
  top: -webkit-calc(40px + 7px);
  width: 300px;
  height: calc(100% - 40px - 7px);
  height: -webkit-calc(100% - 40px - 7px);
  background-color: #939183;
  color: #FFFFFF;
  left: -300px;
  z-index: 100;
  overflow: auto;
  font-size: 18pt;
  font-weight: 400; }
  .sliding-menu .menu-title, .plugin-menu .menu-title {
    padding-left: 10px;
    margin-bottom: -10px;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px; }
  .sliding-menu .menu-icon, .plugin-menu .menu-icon {
    font-family: 'open_sansregular';
    padding-left: 10px;
    position: relative;
    background-color: #575757;
    box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.75);
    border-top: thin solid white;
    color: white;
    line-height: 45px;
    height: 45px;
    font-size: 14pt; }
    .sliding-menu .menu-icon .fa, .plugin-menu .menu-icon .fa {
      color: #FFFFFF; }
    .sliding-menu .menu-icon .fa-stack, .plugin-menu .menu-icon .fa-stack {
      width: 1em;
      height: 1em;
      line-height: 1em; }
    .sliding-menu .menu-icon .fa-stack-2x, .plugin-menu .menu-icon .fa-stack-2x {
      font-size: 1em; }
    .sliding-menu .menu-icon .fa-stack-1x, .plugin-menu .menu-icon .fa-stack-1x {
      font-size: 0.8em; }
    .sliding-menu .menu-icon .fa.fa-inverse, .plugin-menu .menu-icon .fa.fa-inverse {
      color: #939183; }
    .sliding-menu .menu-icon .menu-icon-text, .plugin-menu .menu-icon .menu-icon-text {
      position: absolute;
      top: 0;
      left: 2.5em; }

.plugin-menu {
  left: initial;
  right: -300px; }

#config_interval {
  width: 4.5em;
  display: inline; }
